<h1>
  {{title}}
</h1>
<form method="POST">
  {{! Input names have to match the name of the fields in the mongo schema object }}
  {{! Mapping is not automatic, but it's best practices }}
  <fieldset>
    <label for="name" class="col-2">
      Name:
    </label>
    <input name="name" id="name" required />
  </fieldset>
  <fieldset>
    <label for="author_name" class="col-2">
      Author name:
    </label>
    <input name="author_name" id="author_name" required />
  </fieldset>
  <fieldset>
    <label for="genres" class="col-2">
      Genres:
    </label>
    <input name="genres" id="genres" required />
  </fieldset>
  <fieldset>
    <label for="price" class="col-2">
      Price:
    </label>
    <input name="price" id="price" required />
  </fieldset>
  {{! Button needs to be inside <form> element to trigger POST }}
  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form>